<h1> Edit <%= @artist.name %></h1>
<%= form_for @artist, url: {action: "update"} do |f| %>
    <%= f.label :name, 'Name' %><br>
    <%= f.text_field :name %><br><br>
    <%= f.label :albums, 'Albums' %><br>
    <%=f.text_field :albums %><br><br>
    <%= f.label :hometown, 'Hometown' %><br> 
    <%=f.text_field :hometown %><br><br> 
    <%= f.label :img, 'Image' %><br> 
    <%=f.text_field :img %><br><br> 
   <%= f.submit "Submit" %> 
<% end %>